.subtitle {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.9rem;
    color: var(--brown-color);
    margin: 1rem 0 1rem 3rem;
    text-align: left;
}

.textp {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
    color: var(--brown-color);
    margin: 1rem 0 1rem 3rem;
    width: 85%;
}