.Header {
    font-family: 'Cutive Mono', monospace;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}

button {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
    color: var(--brown-color);
    display: inline-flex;
    align-items: center;
    float: right;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem; 
    margin-right: 1.5rem;
    text-shadow: var(--shadow);
    background: none;
    outline: var(--pink-color);
    border: none;
}

a:hover {
    color: rgb(179, 131, 118);
}