*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nothing+You+Could+Do&display=swap');

:root {
  --brown-color: #625240;
  --pink-color: #f5ebe5;
  --white-color: #fefffe;
  --shadow: 1px 1px #ab8d6b;
}

.title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 6.5rem;
  font-weight: 100;
  margin: 8rem auto 0 auto;
  text-shadow: var(--shadow);
  animation-name: start;
  animation-duration: 2s;
}

.frontend-title {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  margin: 4rem;
  animation-name: start;
  animation-duration: 2s;
}