*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nothing+You+Could+Do&display=swap');

:root {
  --brown-color: #625240;
  --pink-color: #f5ebe5;
  --white-color: #fefffe;
  --shadow: 1px 1px #ab8d6b;
}

.landing {
  height: 100vh;
  text-align: center;
}

.title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 6.5rem;
  font-weight: 100;
  margin: 8rem auto 0 auto;
  text-shadow: var(--shadow);
  animation-name: start;
  animation-duration: 2s;
}

.frontend-title {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 4rem;
  animation-name: start;
  animation-duration: 2s;
}

.heading {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3.5rem;
  margin: 1.6rem 4rem;
  grid-area: heading;
  text-shadow: var(--shadow);
}

.fa-angle-down {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  text-shadow: var(--shadow);
  transition-property: font-size;
  transition-duration: 1s;
}

.fa-angle-down:hover {
  font-size: 6rem;

}
.curriculum {
  background: rgb(245,235,229);
  background: linear-gradient(90deg, rgba(245,235,229,1) 0%, rgba(237,212,212,1) 90%);
}
