*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nothing+You+Could+Do&display=swap');

:root {
  --brown-color: #625240;
  --pink-color: #f5ebe5;
  --white-color: #fefffe;
  --shadow: 1px 1px #ab8d6b;
}

.landing {
  height: 100vh;
  text-align: center;
}

.title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 6.5rem;
  font-weight: 100;
  margin: 8rem auto 0 auto;
  text-shadow: var(--shadow);
  animation-name: start;
  animation-duration: 2s;
}

.frontend-title {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 4rem;
  animation-name: start;
  animation-duration: 2s;
}

.homeGrid {
  background-color: var(--white-color);
  display: grid;
  grid-template-areas: "section2 img";
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.About {
  grid-area: section2;
  place-self: center;
  margin-left: 3rem;
}

.img {
  width: 26vw;
  height: 65vh;
  grid-area: img;
  place-self: center;
  margin-right: 10rem;
}

.heading {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3.5rem;
  margin: 1.6rem 4rem;
  grid-area: heading;
  text-shadow: var(--shadow);
}

.fa-angle-down {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  text-shadow: var(--shadow);
  transition-property: font-size;
  transition-duration: 1s;
}

.fa-angle-down:hover {
  font-size: 6rem;

}

@keyframes start {
  0% {
      opacity: 0%;
  }
  100% {
      opacity: 100%;
  }
}