body {
  background: rgb(245,235,229);
  background: linear-gradient(90deg, rgba(245,235,229,1) 0%, rgba(237,212,212,1) 90%);
  height: 100vh;
  text-align: center;
  color: var(--brown-color);
  margin-top: 0;
}

